@model GasHub.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Create";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Order </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Order</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Order</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div class="card-body">
                            <a asp-action="Index" class="btn btn-success my-2"> <i class="fa fa-list"></i> Back to Order List</a>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="UserList"></label>
                                                <select class="form-control" asp-for="Order.UserId">
                                                    <option value="">Select Chapter</option>
                                                    @foreach (var user in Model.UserList)
                                                    {
                                                        <option value="@user.Id">@user.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ProductList"></label>
                                                <select class="form-control" asp-for="Order.ProductId">
                                                    <option value="">Select Chapter</option>
                                                    @foreach (var product in Model.ProductList)
                                                    {
                                                        <option value="@product.Id">@product.Name</option>
                                                    }
                                                </select>
                                            </div>
                                           
                                            <div class="form-group">
                                                <label asp-for="Order.UpdatedBy" class="control-label"></label>
                                                <input asp-for="Order.UpdatedBy" class="form-control" />
                                                <span asp-validation-for="Order.UpdatedBy" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            
                                            <div class="form-group">
                                                <label asp-for="Order.UpdateDate" class="control-label"></label>
                                                <input asp-for="Order.UpdateDate" class="form-control" />
                                                <span asp-validation-for="Order.UpdateDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Order.CreationDate" class="control-label"></label>
                                                <input asp-for="Order.CreationDate" class="form-control" />
                                                <span asp-validation-for="Order.CreationDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Order.CreatedBy" class="control-label"></label>
                                                <input asp-for="Order.CreatedBy" class="form-control" />
                                                <span asp-validation-for="Order.CreatedBy" class="text-danger"></span>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Order.IsConfirmed" /> @Html.DisplayNameFor(model => model.Order.IsConfirmed)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Order.IsDispatched" /> @Html.DisplayNameFor(model => model.Order.IsDispatched)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Order.IsReadyToDispatch" /> @Html.DisplayNameFor(model => model.Order.IsReadyToDispatch)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Order.IsHold" /> @Html.DisplayNameFor(model => model.Order.IsHold)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Order.IsDelivered" /> @Html.DisplayNameFor(model => model.Order.IsDelivered)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Order.IsCancel" /> @Html.DisplayNameFor(model => model.Order.IsCancel)
                                                </label>
                                            </div>

                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Order.IsPlaced" /> @Html.DisplayNameFor(model => model.Order.IsPlaced)
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <input type="submit" value="Create Order" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
