@model GasHub.Models.Company

@{
    ViewData["Title"] = "Delete";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Delete Company</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Company</a></li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Delete Company</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <a asp-action="Index" class="btn btn-success my-2"> <i class="fa fa-list"></i> Back to Company List</a>
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
                        <div class="row">
                            <div class="col-12">
                                <h2 class="page-header">
                                    <i class="fas fa-globe"></i> @Html.DisplayFor(model => model.Name)
                                    <small class="float-right"> Deactivated Date: @Html.DisplayFor(model => model.DeactivatedDate)</small>
                                </h2>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                <address>
                                    <strong>@Html.DisplayFor(model => model.Contactperson)</strong><br>
                                    @Html.DisplayFor(model => model.ContactPerNum)<br>
                                    @Html.DisplayFor(model => model.CreatedBy)<br>
                                    @Html.DisplayFor(model => model.UpdatedBy)<br>
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <address>
                                    <strong>@Html.DisplayFor(model => model.DeactivatedDate)</strong><br>
                                    @Html.DisplayFor(model => model.DeactivatedDate)<br>
                                    @Html.DisplayFor(model => model.DeactiveBy)<br>
                                    @Html.DisplayFor(model => model.DeactiveBy)<br>
                                    @Html.DisplayFor(model => model.BIN)
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>@Html.DisplayFor(model => model.IsActive)</b><br>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <form asp-action="Delete">
                            <input type="submit" value="Delete Company" class="btn btn-danger" /> 
                        </form>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
