@model IEnumerable<GasHub.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactperson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeactivatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeactiveBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model is not null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contactperson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeactivatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeactiveBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BIN)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
