@model GasHub.Models.ViewModels.ProductReturnViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Product Return </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Product Return </a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Product Return </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div class="card-body">
                            <a asp-action="Index" class="btn btn-success my-2"> <i class="fa fa-list"></i> Back to Product Return  List</a>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Product"></label>
                                                <select class="form-control" asp-for="ProdReturn.ProductId">
                                                    <option value="">Select Chapter</option>
                                                    @foreach (var product in Model.Product)
                                                    {
                                                        <option value="@product.Id">@product.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label asp-for="ProdReturn.Name" class="control-label"></label>
                                                <input asp-for="ProdReturn.Name" class="form-control" />
                                                <span asp-validation-for="ProdReturn.Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ProductSize"></label>
                                                <select class="form-control" asp-for="ProdReturn.ProdSizeId">
                                                    <option value="">Select Chapter</option>
                                                    @foreach (var pSize in Model.ProductSize)
                                                    {
                                                        <option value="@pSize.Id">@pSize.Size</option>
                                                    }
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Valve"></label>
                                                <select class="form-control" asp-for="ProdReturn.ProdValveId">
                                                    <option value="">Select Chapter</option>
                                                    @foreach (var valve in Model.Valve)
                                                    {
                                                        <option value="@valve.Id">@valve.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">

                                                <label asp-for="ProdReturn.CreationDate" class="control-label"></label>
                                                <input asp-for="ProdReturn.CreationDate" class="form-control" />
                                                <span asp-validation-for="ProdReturn.CreationDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ProdReturn.UpdateDate" class="control-label"></label>
                                                <input asp-for="ProdReturn.UpdateDate" class="form-control" />
                                                <span asp-validation-for="ProdReturn.UpdateDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                           
                                            <div class="form-group">
                                                <label asp-for="ProdReturn.CreatedBy" class="control-label"></label>
                                                <input asp-for="ProdReturn.CreatedBy" class="form-control" />
                                                <span asp-validation-for="ProdReturn.CreatedBy" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ProdReturn.UpdatedBy" class="control-label"></label>
                                                <input asp-for="ProdReturn.UpdatedBy" class="form-control" />
                                                <span asp-validation-for="ProdReturn.UpdatedBy" class="text-danger"></span>
                                            </div>

                                        </div>
                                       
                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <input type="submit" value="Create Company" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
